streamlit
plotly
numpy
streamlit_option_menu
streamlit_chat
streamlit-lottie
PyPDF2
hydralit
hydralit_components
fpdf
pyyaml
pydub
pyvis
matplotlib
Assemblyai
requests
moviepy
fontawesome
google-generativeai